<html>
  <head>
      <title>Sepsis Web Dashboard</title>
      <link href="/static/style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
      <h1>Charts</h1>

      <div class="container">
        <div class="item"></div>
        <p><h2>Top 10 Authors in Sepsis Research (Overall)</h2><div class="item">{{page1|safe}}</div></p>
        <p><h2>Top 10 Journals in Sepsis Research (Overall)</h2><div class="item">{{page2|safe}}</div></p>
        <p><h2>Preferred 10 Journals by Top 10 Sepsis Researchers (Overall)</h2><div class="item">{{page3|safe}}</div></p>
        <div class="item"></div>
        <div class="item"></div>
        <p><h2>Top 10 Authors in Sepsis Research (Past 5 Years)</h2><div class="item">{{page4|safe}}</div></p>
        <p><h2>Top 10 Journals in Sepsis Research (Past 5 Years)</h2><div class="item">{{page5|safe}}</div></p>
        <p><h2>Top 25 Journals of Sepsis Research in Recent Years</h2><div class="item">{{page6|safe}}</div></p>
        <div class="item"></div>
      </div>


  </body>
</html>
