<html>
  <head>
      <title>Sepsis Web Dashboard</title>
      <link href="/static/style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
      <h1>Charts</h1><br>
      <div class="item"><h2>Top 10 Authors in Sepsis Research (Overall)</h2><br>{{page1|safe}}</div><br>
      <div class="item"><h2>Top 10 Journals in Sepsis Research (Overall)</h2><br>{{page2|safe}}</div><br>
      <div class="item"><h2>Preferred 10 Journals by Top 10 Sepsis Researchers (Overall)</h2><br>{{page3|safe}}</div><br>
      <div class="item"><h2>Top 10 Authors in Sepsis Research (Past 5 Years)</h2><br>{{page4|safe}}</div><br>
      <div class="item"><h2>Top 10 Journals in Sepsis Research (Past 5 Years)</h2><br>{{page5|safe}}</div><br>
      <div class="item"><h2>Top 25 Journals of Sepsis Research in Recent Years</h2><br>{{page6|safe}}</div><br>
  </body>
</html>
