<html>
  <head>
      <title>Sepsis Web Dashboard</title>
      <link href="/static/style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
      <h1>Charts</h1>

      <div class="container">
        <div class="item"></div>
        <div class="item">{{page1|safe}}</div>
        <div class="item">{{page2|safe}}</div>
        <div class="item">{{page3|safe}}</div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item">{{page4|safe}}</div>
        <div class="item">{{page5|safe}}</div>
        <div class="item">{{page6|safe}}</div>
        <div class="item"></div>
      </div>


  </body>
</html>
